<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="CryptSharpOfficial" version="2.1.0.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="75.0.3770.90" targetFramework="net461" />
  <package id="Slack.Webhooks" version="1.0.6" targetFramework="net461" />
</packages>